@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Roboto;
  overflow-x: hidden;
}

.dark {
  background-color: #030712;
}
.container {
  display: flex;
  margin: 40px;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.banner {
  display: flex;
  gap: 300px;
  width: 100vw;
  padding: 0px 60px 0px 60px;
  overflow: scroll;
}

.banner::-webkit-scrollbar {
  display: none;
}

.shimmerContainer {
  display: flex;
  margin: 5px;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.NavItems ul li:hover {
  color: #000;
}

.btn {
  padding: 5px 20px;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #0d0d0d;
  color: #fff;
  font-weight: 400;
}

.btn:hover {
  background: #7d53cc;
}

.filter-btns {
  display: flex;
  padding: 10px;
  align-items: center;
}

#searchBar {
  border: 1px solid #000;
  height: 35px;
  margin: 10px;
  padding-left: 5px;
  outline: none;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0px 50px 0px 40px;
  border-bottom: 1px solid #000;
}
